body {
    font-family: 'Montserrat' !important;
}
@font-face {
    font-family: "Mont-Heavy";
    src: url("../font/Mont-HeavyDEMO.otf");
}
.title {
    font-family: "Mont-Heavy";
}
/*
.btn-blue{
	background: url(../img/box-blue.png) no-repeat;
    cursor:pointer;
    border: none;
}
*/
